.navbarMaster{
    height: 60px;
    width: 100vw;
    background-color: #6f6f6f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleContainer{
    font-family: "Sensation";
    font-size: large;
}